@font-face {
    font-family: "New Yorker";
    src: url("fonts/New-Yorker.ttf");
}

@font-face {
    font-family: "AA Stetica";
    src: url("fonts/AA_Stetica/AA_Stetica_Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "AA Stetica";
    src: url("fonts/AA_Stetica/AA_Stetica_Light.otf");
    font-weight: 300;
}

main .hero p {
    font-family: "New Yorker";
    font-size: 1.5rem;
    text-align: center;
}

main .hero {
    padding: 30px 0 120px 0;
}

main .hero img {
    width: 100%;
}

main section h1 {
    padding: 30px 0;
    margin: 0;
    font-family: "New Yorker";
    font-size: 3rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

main section h1::before, main section h1::after {
    content: "";
    height: 1px;
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    width: 100%;
    border: 3px solid #252525;
	border-width: 0 10px;
}

main section h1::before{
    margin-left: -100%;
}

main section h1::after{
    margin-right: -100%;
}

main .characters {
    margin-bottom: 20px;
}

main .characters .content {
    display: flex;
    justify-content: center;
}

main .characters img {
    width: 310px;
    margin: 0 30px;
}

main .characters article {
    width: 310px;
    margin: 0 30px;
    font-family: "AA Stetica";
    text-align: justify;
}

main .characters article h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

main .characters article p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 16px;
}

main .seasons {
    margin-bottom: 80px;
}

main .seasons .imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .seasons figure {
    margin: 35px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 30%;
    padding: 0;
    position: relative;
}

main .seasons figure .image {
    width: 84%;
    cursor: pointer;
}

main .seasons figure .frame {
    width: 100%;
    position: absolute;
    top: -32px;
    right: 0;
    cursor: pointer;
}

main .seasons figure:hover .image {
    scale: 1.03;
    transition: all 400ms ease;
}

main .seasons figure figcaption {
    padding-top: 45px;
    font-family: "AA Stetica";
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

main .details {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 100px 0;
}

main .details .caption {
    width: 65%;
    border-top: 1px solid white;
}

main .details aside {
    width: 30%;
    border-top: 1px solid white;
}

main .details .caption h2, main .details aside h2 {
    font-family: 'New Yorker';
}

main .details .caption p {
    font-family: 'AA Stetica';
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 20px;
}

main .details aside a {
    text-decoration: none;
}

main .details aside a p {
    font-family: 'AA Stetica';
    font-size: 1rem;
    text-align: justify;
    color: white;
}

main .details aside a:hover p {
    color: rgb(164, 164, 164);
}

.clear p {
    font-family: 'AA Stetica';
    text-align: justify;
}