@font-face {
    font-family: "New Yorker";
    src: url("fonts/New-Yorker.ttf");
}

@font-face {
    font-family: "AA Stetica";
    src: url("fonts/AA_Stetica/AA\ Stetica\ .otf");
    font-weight: 300;
}

@font-face {
    font-family: "AA Stetica";
    src: url("fonts/AA_Stetica/AA\ Stetica\ Regular.otf");
    font-weight: 400;
}

main .hero p {
    /* max-width: 230px; */
    font-family: "New Yorker";
    font-size: 1.5rem;
    text-align: center;
}

main .hero {
    padding: 30px 0 150px 0;
}

main .hero img {
    /* padding: 0 0 50px 0; */
    width: 100%;
}

main section h1 {
    padding: 30px;
    margin: 0;
    font-family: "New Yorker";
    font-size: 3rem;
    text-align: center;
}

main .characters {
    margin-bottom: 50px;
}

main .characters .content {
    display: flex;
    justify-content: center;
}

main .characters img {
    width: 310px;
    margin: 0 30px;
    /* border: 1px solid wheat; */
}

main .characters article {
    width: 310px;
    margin: 0 30px;
    font-family: "AA Stetica";
    text-align: justify;
}

main .characters article h2 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

main .characters article p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 16px;
}

main .seasons {
    margin-bottom: 80px;
}

main .seasons .imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .seasons figure {
    /* display: table-cell; */
    margin: 35px 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 30%;
    padding: 0;
    position: relative;
    /* border: 1px dotted white; */
}

main .seasons figure .image {
    width: 84%;
    cursor: pointer;
    /* border: 1px dotted white; */
}

main .seasons figure .frame {
    width: 100%;
    position: absolute;
    top: -32px;
    right: 0;
    cursor: pointer;
}

main .seasons figure:hover .image {
    scale: 1.03;
    transition: all 400ms ease;
}

main .seasons figure figcaption {
    padding-top: 45px;
    font-family: "AA Stetica";
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

main .details {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 100px 0;
}

main .details .caption {
    width: 65%;
    border-top: 1px solid white;
}

main .details aside {
    width: 30%;
    border-top: 1px solid white;
    /* border-left: 1px solid white; */
}

main .details .caption h2, main .details aside h2 {
    font-family: 'New Yorker';
}

main .details .caption p {
    font-family: 'AA Stetica';
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 20px;
}

main .details aside a {
    text-decoration: none;
}

main .details aside a p {
    font-family: 'AA Stetica';
    font-size: 1rem;
    text-align: justify;
    color: white;
}

main .details aside a:hover p {
    color: rgb(164, 164, 164);
}